extends ../layout.pug


//- Stylesheets exclusive for this subpage
block styles
  link(rel='stylesheet', href='/styles/helpers.css')
  link(rel='stylesheet', href='/styles/admin.css')

//- Stylesheets exclusive for this subpage
block scripts


block content

  div.main_wrapper
    div.content_wrapper

      h2=data.challenge.title
      if(error)
        div.error=error
      form(method="POST" encType="multipart/form-data")
        input(type="text" name ="title" placeholder="Challenge Title*" value=(data.challenge ? data.challenge.title : "") maxlength="35" required)
        input(type="text" name ="author" placeholder="Author Agency*" value=(data.challenge ? data.challenge.author : "") required)

        h4 More Details

        input(type="checkbox" name="shortModeSwitch" checked=(data.challenge && data.challenge.shortMode.enabled ? true : false))
        label(class="checkbox_label" for="shortModeSwitch") Countdown?

        input(type="text" name="countdown" placeholder="XX (minutes)" value=(data.challenge && data.challenge.shortMode.countdown > 0 ? data.challenge.shortMode.countdown : ""))
        input(type="text" name="active_until" placeholder="Active Until: DD.MM.YYYY*" value=(data.challenge ? data.challenge.active_until_string : "") pattern="(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}" required)
        input(type="file" id="brief" name="brief" accept="application/pdf" data-multiple-caption="{count} files selected")
        label(for="brief")
          span=(data.challenge ? data.challenge.brief.substring(20) : "Upload Brief (.pdf only)*")
        textarea(type="text" name="description" rows="3" placeholder="A short description of the challenge, that needs to be solved.*" required) #{(data.challenge ? data.challenge.description : "")}

        input(type="checkbox" name="active" checked=value=(data.challenge && data.challenge.isActive ? true : false))
        label(class="checkbox_label" for="active") Activate?

        input(class="pink_bg" type="submit" name="submit" value="UPDATE")

  script.
    $(document).ready(function(){

      //- Show Countdown input if shortmode is/gets activated
      if($('input[name="shortModeSwitch"]').is( ":checked" )){
        $('input[name="countdown"]').show();
      } else {
        $('input[name="countdown"]').hide();
      }

      $('input[name="shortModeSwitch"]').change(function(){
        if($(this).is( ":checked" )){
          $('input[name="countdown"]').show();
          $('input[name="countdown"]').prop('required',true);
        } else {
          $('input[name="countdown"]').hide();
          $('input[name="countdown"]').prop('required',false);
        }
      })

      //- upload Media
      var inputs = document.querySelectorAll( '#brief' );
      Array.prototype.forEach.call( inputs, function( input ){
        var label	 = input.nextElementSibling,
        labelVal = label.innerHTML;

        input.addEventListener( 'change', function( e ){
          var fileName = '';
          if( this.files && this.files.length > 1 ) {
            fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
          } else {
            fileName = e.target.value.split( '\\' ).pop();
          }

          if( fileName ){
            label.querySelector( 'span' ).innerHTML = fileName;
            label.style.color = "rgba(255,255,255,1)";
          } else {
            label.innerHTML = labelVal;
          }
        });
      });



    })
