extends ../layout.pug


mixin project(link, image, title, desc)
  a(href=link)
    li
      div.image(style="background-image:url("+image+")")
      div.content
        h4=title
        p=desc

//- Stylesheets exclusive for this subpage
block styles
  link(rel='stylesheet', href='/styles/helpers.css')
  link(rel='stylesheet', href='/styles/user_profile.css')

//- Stylesheets exclusive for this subpage
block scripts

//- Main content to extend the Layout template
block content

  //- HEADER MODULE
  div#header_module
    svg(class="diagonal_shape" viewBox="0 0 100 10" preserveAspectRatio="none")
      path(d="M 0,0 L 100,0 100,4 0,10 z" style="fill: white;")
    img(class="avatar" src=data.profile.meta.profile_img alt="avatar")

  //- PROFILE MODULE
  div#profile_module(class="main_wrapper")

    if(data.user.username === data.profile.username)
      a(href="/u/"+data.profile.username+"/edit")
        div.edit
          i(class="fa fa-pencil" aria-hidden="true")
          span edit

    h1.red_text=(data.profile.meta.gender && data.profile.meta.gender === "male" ? "mr": (data.profile.meta.gender && data.profile.meta.gender === "female" ? "mss" : "mx"))+" "+data.profile.username
    span.pink_subline

    div.profile_info
      if(data.profile.meta.age)
        p.personal= data.profile.meta.age+" years old."
      p.professional=(data.profile.meta.status ? data.profile.meta.status: "career starter")
      p.bio=(data.profile.meta.description ? data.profile.meta.description: "~ no bio available ~")


    if(data.user.username === data.profile.username)
      a(href="/u/"+data.user.username+"/new")
        div.button(class="pink_bg") UPLOAD NEW CASE
    else
      a(href="#")
        div.button(class="pink_bg") Contact #{data.profile.username}


  div#project_list(class="list")
    ul.list_wrapper
      each project in data.projects
        +project("/u/"+project.username+"/"+project.name, project.media[0].path, project.title, project.description.substr(0,35)+" ...")
