extends ../layout.pug
include ../modules/mixins_index.pug


mixin current_challenge(user, name, title, active_until, desc, short_mode, brief, participants)
  div.content_wrapper
    h4(class="red_text") Current challenge
    a(href="/challenges/"+name)
      h2.title #{title}
    p.timeframe ACTIVE UNTIL: #{prettyDate(active_until)}
    p #{desc}

    if(short_mode.enabled)
      p(style="font-weight:bold;") Warning! Timer starts running once you progress.

      - var found = false
      - var countdown;
      each p in participants
        if(p.username === user.username)
          - found=true
          - countdown = Math.abs(new Date() - new Date(p.endtime))/1000/60
          if(new Date() > new Date(p.endtime))
            - countdown = 0;

      if(found)
        p Countdown:
        h2.countdown(class="red_text active_cd" data-time=countdown data-started="true") #{toCountdown(countdown).substring(0,11)}
      else
        p Countdown:
        h2.countdown(class="red_text" data-time=short_mode.countdown data-started="false") #{toCountdown(short_mode.countdown)}

    if(data.user.isAuthenticated)
      a(href="/challenges/"+name+"/download" target="_blank")
        div.button(class="blue_bg download_brief") Download current Brief
      a(href="/u/"+data.user.username+"/new?challenge="+name)
        div.button(class="red_bg") Upload your solution
    else
      a(href="/register")
        div.button(class="blue_bg") Sign up, Start now


mixin past_challenge(name, title, active_until, desc, short_mode, brief, winner)
  div.content_wrapper
    h4(class="red_text") Past challenge
    a(href="/challenges/"+name)
      h2.title #{title}
    p.timeframe ACTIVE UNTIL: #{prettyDate(active_until)}
    p #{desc}

    if(short_mode.enabled)
      p This Challenge was time restricted.
      h2.countdown(class="red_text") #{toCountdown(short_mode.countdown)}

    if(data.user.isAuthenticated)
      a(href="/challenges/"+name+"/download" target="_blank")
        div.button(class="blue_bg") Download Old Brief



  if(winner && winner.length > 0)
    div.button_icon(class="green_bg blue_text" style="margin-top:-30px;") Winners

    div#portfolio_list(class="list")
      ul.list_wrapper
        each w in winner
          a(href="/u/"+w.username+"/"+w.name)
            li
              div.image(style="background-image:url('"+w.thumbnail+"')")
              div.content
                h4 #{w.title}
                p > View Project




//- Stylesheets exclusive for this subpage
block styles
  link(rel='stylesheet', href='/styles/helpers.css')
  link(rel='stylesheet', href='/styles/index_challenges.css')

//- Stylesheets exclusive for this subpage
block scripts

//- Main content to extend the Layout template
block content

  //- LOGO MODULE
  +logoModule

  //- CURRENT CHALLENGE
  div#current_challenge(class="main_wrapper")
    div.top_gradient_box(class="green_gradient")
      h1(class="blue_text")= data.modules[0].title.substring(0, data.modules[0].title.indexOf(" "))
      h1(class="blue_text")= data.modules[0].title.substring(data.modules[0].title.indexOf(" ")+1, data.modules[0].title.length)
      span.pink_subline

    if(data.current_challenges)
      each challenge in data.current_challenges
        +current_challenge(data.user, challenge.name, challenge.title, challenge.active_until, challenge.description, challenge.shortMode, challenge.brief, challenge.participants )



  //- DECORATIONAL ELEMENT
  div.divider

  //- PREVIOUS CHALLENGES
  div#past_challenges(class="main_wrapper")
    if(data.past_challenge)
      +past_challenge(data.past_challenge.name, data.past_challenge.title, data.past_challenge.active_until, data.past_challenge.description, data.past_challenge.shortMode, data.past_challenge.brief, data.past_challenge.winner )


  //- HAND IN YOUR CHALLENGE
  div#your_brief(class="diagonal_box")
    svg(class="diagonal_shape" viewBox="0 0 100 10" preserveAspectRatio="none")
      path(d="M 0,0 L 100,0 100,4 0,10 z" style="fill: white;")
    div.inner_wrapper
      h1 Send us your Brief
      p We are always open to fresh ideas. Even if it comes to ideas for ideas. If you have a challenge that is worth being challenged, just write us an email.
      a(href="mailto:partners@chnb.de")
        div.button(class="blue_bg") PARTNERS@CHNB.DE






  script.
    $(document).ready(function(){

      //if user already participates in the challenge
      $('.active_cd').each(function(i, val){
        var ele = $(this);
        if(ele.attr("data-started") === "true"){
          var countdown = ele.attr("data-time");
          var interval = setInterval(function(){
            countdown = countdown - (1/60);
            ele.html(toCountdown(countdown).substr(0,11));

            if(countdown <= 0){
              ele.html("00:00:00:00");
              clearInterval(interval);
            }
          },1000);
        }
      })

      //Starts the Countdown-Timer on click on brief
      $('.download_brief').on('click', function(){
        var ele = $(this).parent().prev('.countdown');
        if(ele){
          var countdown = ele.attr("data-time");
          var interval = setInterval(function(){
            countdown = countdown - (1/60);
            ele.html(toCountdown(countdown).substr(0,11));

            if(countdown <= 0){
              ele.html("00:00:00:00");
              clearInterval(interval);
            }
          },1000);
        }
      })

      function toCountdown(s) {
        s = s*60;
        var fm = [Math.floor(s / 60 / 60 / 24),Math.floor(s / 60 / 60) % 24, Math.floor(s / 60) % 60, s % 60];
        fm.forEach(function(part, index){
          if(fm[index]<10) fm[index] = fm[index].toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false})
        })
        return fm.join(':');
      }

    });





  //- FUNCTIONS
  -function prettyDate(dateString){
    //if it's already a date object and not a string you don't need this line:
    -var date = new Date(dateString);
    -var d = date.getDate();
    -var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
    -var m = monthNames[date.getMonth()];
    -var y = date.getFullYear();
    -return d+' '+m+' '+y;
  -}

  -function toCountdown(s) {
    -s = s*60;
    -var fm = [Math.floor(s / 60 / 60 / 24),Math.floor(s / 60 / 60) % 24, Math.floor(s / 60) % 60, s % 60];
    -fm.forEach(function(part, index){
      -if(fm[index]<10) fm[index] = fm[index].toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false})
    -})
    -return fm.join(':');
  -}
