extends ../layout.pug
include ../modules/mixins_index.pug


mixin newsfeed-item(project, user)
  if (project.reportedBy.filter(function(e) { return e.name === user.username }).length === 0)
    li.project(data-username=project.username data-projectname=project.name)
      div.head
        a(href="/u/"+project.username)
          div.profile_img(style="background-image:url('"+project.profile_img+"')")
        div.report(data-link="/u/"+project.username+"/"+project.name+"/ajaxreport" style="right:-5px;top:0;")
        div.profile
          a(href="/u/"+project.username)
            span.username sir_clee
          - var date = new Date(project.created_at)
          - var day = "just now";
          if(new Date().getDate() === date.getDate())
            - day = "today";
          else if(new Date().getDate() === date.getDate()+1)
            - day = "yesterday";
          else if(new Date().getDate() > date.getDate()+1)
            - day = new Date().getDate()-date.getDate()+" days ago"
          span.posted posted #{day} at #{date.getHours()+":"+date.getMinutes()}
      div.content
        a(href="/u/"+project.username+"/"+project.name)
          div.media(style="background-image:url('"+project.thumbnail+"')")
        ul.interaction
          if(project.likes.indexOf(data.user.username) > -1)
            li(class="social-item likeCount" style="background-image:url('/images/icons/like_on.png')") #{project.likes.length}
          else
            li(class="social-item likeCount") #{project.likes.length}
          a(href="/u/"+project.username+"/"+project.name)
            li(class="social-item commentCount") #{project.comments.length}


//- Stylesheets exclusive for this subpage
block styles
  link(rel='stylesheet', href='/styles/helpers.css')
  link(rel='stylesheet', href='/styles/index_newsfeed.css')

//- Stylesheets exclusive for this subpage
block scripts

//- Main content to extend the Layout template
block content


  div.main_wrapper
    div.content_wrapper(style="padding-top:10px;")

      //- Upload new Project
      a(href="/u/"+data.user.username+"/new")
        div.button(class="pink_bg") Upload a new Project

      ul#newsfeed
        each p in data.projects
          +newsfeed-item(p, data.user)


  script.
    $(document).ready(function(){

      //- New Like Request
      $(document).on('click', '.likeCount', function(){
        var l = $(this);
        var username = $(this).parent().parent().parent().attr("data-username")
        var projectname = $(this).parent().parent().parent().attr("data-projectname");

        $.post("/u/"+username+"/"+projectname+"/like",function(data){
          if(JSON.parse(data.success)){
            var likes = parseInt(l.html());
            likes++;
            l.html(likes);
            l.css("background-image", "url('/images/icons/like_on.png')");
          }
        });
      });

      //- Report Request
      $(document).on('click', '.report', function(){
        var r = $(this);
        var url = $(this).attr("data-link");
        $.post(url,function(data){
          if(JSON.parse(data.success)){
            r.parent().parent().hide();
          }
        });
      });


      //- Dynamically load new Projects
      var load_new_data = false;
      var projects_loaded = $("#newsfeed").children().length;
      $(window).on('scroll', function(){
        if(!load_new_data && ($(document).scrollTop()+$(window).innerHeight()) > $('#footer').offset().top){

          console.log("load new data");
          load_new_data = true;
          setTimeout(function(){load_new_data = false},5000);

          $.post("/load",{skip: projects_loaded}, function(data){
            if(data.success){

              data.projects.forEach(function(p){

                //- Get the posted times of each project right
                var date = new Date(p.created_at);
                var day = "just now";
                if(new Date().getDate() === date.getDate()){
                  day = "today";
                } else if(new Date().getDate() === date.getDate()+1){
                  day = "yesterday";
                } else if(new Date().getDate() > date.getDate()+1){
                  day = new Date().getDate()-date.getDate()+" days ago";
                }

                //preproccess the likebutton
                var likebutton;
                if(p.likes.indexOf(data.user.username) > -1){
                  likebutton = '<li class="social-item likeCount" style="background-image:url(/images/icons/like_on.png)">'+p.likes.length+'</li>';
                } else {
                  likebutton = '<li class="social-item likeCount">'+p.likes.length+'</li>';
                }


                //prepare the project
                var project = '\
                  <li class="project" data-username='+p.username+' data-projectname='+p.name+'>\
                    <div class="head">\
                      <a href="/u/'+p.username+'">\
                        <div class="profile_img" style="background-image:url('+p.profile_img+')"></div>\
                      </a>\
                      <div class="report" style="right:-5px;top:0;" data-link="/u/'+p.username+'/'+p.name+'/ajaxreport"></div>\
                      <div class="profile">\
                        <a href="/u/'+p.username+'">\
                          <span class="username">'+p.username+'</span>\
                          <span class="posted">posted '+day+' at '+date.getHours()+':'+date.getMinutes()+'</span>\
                        </a>\
                      </div>\
                    </div>\
                    <div class="content">\
                      <a href="/u/'+p.username+'/'+p.name+'">\
                        <div class="media" style="background-image:url('+p.thumbnail+')"></div>\
                      </a>\
                      <ul class="interaction">\
                        '+likebutton+'\
                        <a href="/u/'+p.username+'/'+p.name+'">\
                          <li class="social-item commentCount">'+p.comments.length+'</li>\
                        </a>\
                      </ul>\
                    </div>\
                  </li>\
                    ';

                if (p.reportedBy.filter(function(e) { return e.name === p.username }).length === 0){
                  $('#newsfeed').append(project);
                }
                projects_loaded++;

              });
              load_new_data = false;
            }
          });

        }

      });

    })
